
<div class="jumbotron">
  <h1>Welcome to Kyle's Page</h1>
  <p>"Wear your seatbelt, don't run with scissors, drink your milk. have a nice day."</p>
  <p><a class="btn btn-primary btn-lg" href="https://www.instagram.com/bolingk/" role="button">Instagram</a></p>
</div>
